body {
  padding-top: 50px;
}

#container {
  padding: 0 100px 0 100px;
}

.rule { 
  width: 500px;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.rule.enabled {
  border: 2px solid green;
  border-radius: 5px;
  background: #D6FFBF;
}

.rule h2 {
  margin: 0px;
  padding: 0px;
  float: left;
}

.rule div.btn-group {
  /*display: inline-block;*/
  float: right;
}

.page {
  padding-top: 20px;
}

.port_forward {
  width: 100%;
  background: lightblue;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.port_forward .in,
.port_forward .dport,
.port_forward .dst,
.port_forward .fport {
  float: left;
  margin-right: 10px;
}

.port_forward .controls {
  float:right;
}

.port_forward .dport input,
.port_forward .fport input,
.port_forward .in input {
  width: 100px;
}


.port_forward p {
  font-size: small;
}

#device-forwarding {
  width: 300px;
  overflow: hidden;
}

#device-forwarding .device {
  overflow: hidden;
}

#device-forwarding .device p {
  float: left;
  font-weight: bold;
}

#device-forwarding .device p.state {
  float: right;
}

#device-forwarding .device.on p.state {
  color: green;
}

#device-forwarding .device.off p.state {
  color: red;
}
